body {
  font-family: Arial, sans-serif;
  background-color: aquamarine;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  width: 80%;
  margin: 0 auto;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="button"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #3e8e41;
}